<link rel="stylesheet" href="~/css/style-ejerciciosFisicos.css">
<link rel="stylesheet" href="~/css/style-ejercicios.css">


<h2>Usuarios registrados
</h2>

<button class="btn btn-icono" onclick="InformeUsuarios()">Imprimir</button>

<table class="table mi-tabla" id="Tabla-Usuarios">
  <thead >
    <tr>
      <th class="text-center align-middle"><div class="centrar"><p>Nombre</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Fecha nacimiento</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Correo</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Altura</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Peso</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>TMB</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>IMC</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Sexo</p></div></th>
      <th class="text-center align-middle"><div class="centrar"><p>Rol</p></div></th>
      
    </tr>
  </thead>
  <tbody id="List-Usuarios">
  </tbody>
</table>

@section Scripts {
  <script src="~/js/Admin.js"></script>
}