@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <i class="fa-solid fa-user nav-iconos"></i>
         <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        <span></span>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
             <i class="fa-solid fa-arrow-right-from-bracket nav-iconos"></i> Cerrar sesión 
        </a>
        <span></span>
        
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><i class="fa-solid fa-user-pen nav-iconos"></i> Registrarse</a>
        <span></span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-arrow-right-to-bracket nav-iconos"></i> Iniciar sesión</a>
        <span></span>
    </li>
}
</ul>
