@{
    ViewData["Title"] = "Tipo de Ejercicio";
}

<link rel="stylesheet" href="~/css/style-ejercicios.css">

<div class="text-center">
  <h1 class="display-4 titulo">Tipo de Ejercicios</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" onclick="GetEjercicios()" class="btn btn-primary test">
    Refrescar Tabla
  </button>
  <button type="button" class="btn btn-primary test" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalTipoEjercicio">
    Nuevo Registro
  </button>
</div>


<!-- Modal -->

<div class="modal fade " id="ModalTipoEjercicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content mi-modal">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" id="TipoEjercicioID" value="0"/>
            <label for="descripcion" class="form-label titulo">Descripción</label>
            <input type="text" class="form-control input-transparent" id="descripcion" style="text-transform:uppercase" placeholder="Nombre del tipo de actividad">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-primary test">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div id="div-tipoejercicios">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Descripción</th>
      <th style="width: 70px"></th>
      <th style="width: 70px"></th>
    </tr>
  </thead>
  <tbody id="tbody-tipoejercicios" class="tbody-overflow">
  </tbody>
</table>
</div>

@section Scripts {
  <script src="~/js/Ejercicios.js"></script>
}