@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="titulo text-center">@ViewData["Title"]</h1>

<div class="form-translucent">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="titulo text-center">Crear nueva cuenta.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control input-transparent" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email" class="form-label text-shadow titulo">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control input-transparent" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                <label asp-for="Input.Password" class="form-label text-shadow titulo">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control input-transparent" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
                <label asp-for="Input.ConfirmPassword" class="form-label text-shadow titulo">Confirmar contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Sexo" asp-items="Model.SexoOptions">
                    <option value="0">Seleccione</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
                <label asp-for="Input.Sexo" class="form-label text-shadow titulo">Sexo</label>
                <span asp-validation-for="Input.Sexo" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control input-transparent" autocomplete="new-password" aria-required="true" placeholder="Nombre" />
                <label asp-for="Input.Nombre" class="form-label text-shadow titulo">Nombre</label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Altura" class="form-control input-transparent" autocomplete="new-password" aria-required="true" placeholder="Altura" />
                <label asp-for="Input.Altura" class="form-label text-shadow titulo">Altura</label>
                <span asp-validation-for="Input.Altura" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Peso" class="form-control input-transparent" autocomplete="new-password" aria-required="true" placeholder="Peso" />
                <label asp-for="Input.Peso" class="form-label text-shadow titulo">Peso</label>
                <span asp-validation-for="Input.Peso" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary test">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
           
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Iniciar Sesion</a>
               
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
