body{
    background-image: url("../img/fondo-graficos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-grafic{
    height: 37vh; 
    width: 22vw;
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: .6rem;
}

.col-grafic{
    height: 35vh;
    width: 100%;
}

.canva-grafic{
    height: 100%;
    width: 100%;
    color: white;
}

.card-container{
    height: 50vh; 
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: .6rem;
}

.card-dias-con{
    background-color: rgba(1, 179, 1, 0.389);
    width: 15vw;
    height: 3rem;
    border-radius: 15px;
    margin: 1rem;
    text-align: center;
    padding: 25px;
}

.card-dias-sin{
    background-color: rgba(243, 0, 0, 0.389);
    width: 15vw;
    height: 3rem;
    border-radius: 15px;
    margin: 1rem;
    text-align: center;
    padding: 25px;
}