.privacy-logo{
    margin: 1rem auto;
    height: 14rem;
    width: 20.5rem;
    opacity: 0.8;
}

.privacy-logo-text{
    margin: 0 auto;
    height: 5rem;
    width: 16.64rem;
    opacity: 0.8;
}

p {
    font-size: 1.2rem;
    color: white;
    text-shadow: 0 0 3px black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: start;
}

.contenedor-fondo{
    height: auto;
    max-width: 1000px;
    width: 85%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
}

.contenedor-texto {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

.contenedor-texto p{
    word-break: break-word;
    overflow-wrap: break-word;

}

.contenedor-botones{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-acciones{
    margin: 2rem;
    height: 5rem;
    width: 18rem;
    border-radius: 15px;
    color: white;
}

.btn-acciones a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0 0 5px white;
}

@media screen and (max-width: 900px) {
    .privacy-logo{
    height: 11.5rem;
    width: 17rem;
    margin-right: 1rem;
    }
}