.table {
    width: 45rem;
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(10px);
    color: white;
    text-shadow: 0 0 5px;
    border-radius: 15px;
}

.table th,
.table td {
  border: 1px solid transparent; 
  transition: .5s;
}


.fila-resaltar:hover {
  background-color: rgba(182, 178, 178, 0.486); 
  transition: .5s;
  color: white;
}

.mi-tabla tr.ultima-fila td:first-child {
  border-bottom-left-radius: 15px; /* Ajustá el valor según lo que necesites */
}

/* Aplicar bordes redondeados solo al último elemento de la última fila */
.mi-tabla tr.ultima-fila td:last-child {
  border-bottom-right-radius: 15px; /* Ajustá el valor según lo que necesites */
}

.mi-modal{
  background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(10px);
}