body{
    background-image: url("../img/fondo-EjercicioFisico.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.Contenedor{
    height: 40rem;
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.389);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px ;
    box-shadow: 0 0 10px 5px black;
    margin-top: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
input{
    margin: 2rem 1rem 1rem 0; 
    height: 3rem;
    border-radius: 20px;
    background-color: rgba(243, 243, 243, 0.281);
    color: white;
    border: solid 1px white;
    padding: 20px;
}
