@{
  ViewData["Title"] = "FitLogg";
}

<link rel="stylesheet" href="~/css/style-ejercicios.css">
<link rel="stylesheet" href="~/css/style-ejerciciosFisicos.css">

    <div class="col-xl-4 col-md-4 mb-2">
        <label class="control-label">Mes:</label>
        <select class="form-control input-transparent" id="MesEjercicioBuscar" onchange="graficoEjercicio.destroy(), mostrarGrafico()">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5" selected>Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
    </div>
    <div class="col-xl-4 col-md-4 mb-2">
        <label class="control-label">Año:</label>
        <select class="form-control input-transparent" id="AnioEjercicioBuscar" onchange="graficoEjercicio.destroy(), mostrarGrafico()">
            <option value="2023">2023</option>
            <option value="2024" selected>2024</option>
        </select>
    </div>

                <label for="TipoEjercicioBuscarID" class="form-label titulo">Tipo de Ejerciocio</label>
                @Html.DropDownList("TipoEjercicioBuscarID", null, htmlAttributes: new
                  {
                    @class = "select-transparent form-control input-transparent",
                    onchange="graficoEjercicio.destroy(), mostrarGrafico()"
                    

                  })




<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-12">
      <div class="container" style="height: 10vh; width: 100%;">
        <canvas id="grafico_linea" style="height: 10vh; width: 100%;"></canvas>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="container" style="height: 10vh; width: 100%;">
        <canvas id="grafico_donut" style="height: 10vh; width: 100%;"></canvas>
      </div>
    </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/Js/grafico.js"></script>



@* <script>  const ctx1 = document.getElementById('grafico_donut');

  new Chart(ctx1, {
    type: 'doughnut',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 15, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });</script> *@

