@{
  ViewData["Title"] = "FitLogg";
}

<link rel="stylesheet" href="~/css/style-ejercicios.css">
<link rel="stylesheet" href="~/css/style-ejerciciosFisicos.css">

<label for="fechaInicio" class="form-label titulo">Inicio</label>
<input type="date" id="fechaInicio" class="form-control input-transparent input-circulo" onchange="expanded(this), GetEjerciciosFisicos()"/>

<label for="fechaFin" class="form-label titulo">Inicio</label>
<input type="date" id="fechaFin" class="form-control input-transparent input-circulo" onchange="expanded(this), GetEjerciciosFisicos()"/>

                <label for="TipoEjercicioBuscarID" class="form-label titulo">Tipo de Ejerciocio</label>
                @Html.DropDownList("TipoEjercicioBuscarID", null, htmlAttributes: new
                  {
                    @class = "select-transparent form-control input-transparent",
                    onchange="GetEjerciciosFisicos()"
                  })




<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-12">
      <div class="container" style="height: 10vh; width: 100%;">
        <canvas id="grafico_linea" style="height: 10vh; width: 100%;"></canvas>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="container" style="height: 10vh; width: 100%;">
        <canvas id="grafico_donut" style="height: 10vh; width: 100%;"></canvas>
      </div>
    </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/ejerciciosfisicos.js"></script>

<script>  const ctx = document.getElementById('grafico_linea');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 15, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });</script>

<script>  const ctx1 = document.getElementById('grafico_donut');

  new Chart(ctx1, {
    type: 'doughnut',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 15, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });</script>

