@{
  ViewData["Title"] = "FitLogg";
}

<link rel="stylesheet" href="~/css/style-ejercicios.css">
<link rel="stylesheet" href="~/css/style-ejerciciosFisicos.css">
<link rel="stylesheet" href="~/css/grafico.css">
<div class="row background-element">
    <div class="col-xl-4 col-md-4 mb-2 text-center">
        <label class="control-label titulo mb-2">Mes:</label>
        <select class="form-control input-transparent" id="MesEjercicioBuscar">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
    </div>
    <div class="col-xl-4 col-md-4 mb-2 text-center">
        <label class="control-label titulo mb-2">Año:</label>
        <select class="form-control input-transparent" id="AnioEjercicioBuscar">
            <option value="2023">2023</option>
            <option value="2024" selected>2024</option>
        </select>
    </div>
    <div class="col-xl-4 col-md-4 mb-2 text-center">
    <label for="" class="form-label titulo mb-2">Tipo de Ejerciocio</label>
                @Html.DropDownList("TipoEjercicioBuscarID", null, htmlAttributes: new
                  {
                    @class = "form-control input-transparent",
                    

                  })
                  </div>
  </div>

                




<div class="container-grafic">
  <div class="row">

    <div class="col-md-12 col-sm-12 centrar col-grafic">
      <div class="canva-grafic centrar">
        <canvas id="grafico_linea" class=""></canvas>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 centrar col-grafic">
      <div class="canva-grafic centrar">
        <canvas id="grafico_donut" class=""></canvas>
      </div>
    </div>

   
  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/Js/grafico.js"></script>



@* <script>  const ctx1 = document.getElementById('grafico_donut');

  new Chart(ctx1, {
    type: 'doughnut',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 15, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });</script> *@

